<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
<h2>Cart</h2>
</div>

<div class="container">
	<p>
		<%= @order.inspect %>
	</p>
</div>

<div class="container">
<div class="alert alert-warning">	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>No.</th>
				<th>Name</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Sum</th>
			</tr>
		</thead>
		<tbody>
			<tr><% @order.each_with_index do |(key, value), index|%>
				<td><%= index + 1 %></td>
				<td><a href="/item/<%= key %>"><%= Product.find(key).title %></a></td>
				<td><%= value %></td>
				<td><%= Product.find(key).price %></td>
				<td><%= Product.find(key).price * value %></td>
			</tr><%end%>
		</tbody>	
	</table>
</div>	
</div>
		<% total = 0 %>
		<% @order.each do |key, value| %>
		<% total += Product.find(key).price * value %>
		<% end %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<form action="/orders" method="GET">
		<input type="hidden" name="cart" value="<%= params[:orders] %>">
		<input type="submit" name="submit_order_btn" value="Submit Order (<%= total %>)" class="btn btn-info">
	</form>
</div>


