<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
<h2>Orders in Base</h2>
</div>

<div class="container">
<div class="alert alert-info">
	 <table class="table table-striped">
		<thead>
			<tr>
				<th>No.</th>
				<th>Name</th>
				<th>Phone</th>
				<th>Adress</th>
			</tr>
		</thead>
		<tbody>
			<tr><% Ordersubmit.all.each_with_index do |order, index|%>
				<td><%= index + 1 %></td>
				<td><%= order.client %></td>
				<td><%= order.phone %></td>
				<td><%= order.adress %></td>
			</tr>
			<tr>
				<td><%= order.ordered_products %></td>
			</tr><%end%>
		</tbody>	
</div>	
</div>